<% content_for :title do %>About<% end %>
<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="min-height: 600px!important;background-color: #ECEFF1">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="card col-md-12" style="padding: 4em;margin-top: -1em!important">
                    <div class="text-center">
                        <h1 class="h1-reponsive black-text text-uppercase font-weight-bold mb-3" data-wow-delay="0.3s"><strong>EUREKOINS WALLET</strong></h1>
                        <h5 class="text-uppercase mb-5 black-text"><strong>
                          write rules here<br>
                        </strong></h5>
                        <h6>
                          <ul>
                            <li> Rule 1 </li>
                            <li> Rule 2 </li>
                            <li> Rule 3 </li>
                            <li> Rule 4 </li>
                          </ul>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
