<footer class="page-footer font-small pt-0" style="background-color: #005662">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-5 flex-center">
                  <a href="https://www.facebook.com/aavishkar.nitd/"><img src="<%= asset_path('facebook-logo-white.png') %>" style="max-width:40px;max-height:40px;"></a>
                    &nbsp&nbsp
                    <a href="https://www.instagram.com/aavishkar_nitd/"><img src="<%= asset_path('insta-white-logo.png') %>" style="max-width:40px;max-height:40px;"></a>
                    &nbsp&nbsp
                    <a href="http://avskr.in"><img src="<%= asset_path('web-logo-white.png') %>" style="max-width:40px;max-height:40px;"></a>
                    &nbsp&nbsp
                    <a href="https://www.youtube.com/channel/UCl42je3Zr5zTCpsHIj7xkbg"><img src="<%= asset_path('youtube-logo-white.png') %>" style="max-width:40px;max-height:40px;"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid" style="margin-top: -1em!important">
            Made with <i class="fa fa-heart"></i> by <a href="http://nitdgplug.org"> GLUG NIT Durgapur </a>
        </div>
    </div>
</footer>
