<footer class="page-footer font-small pt-0 fixed-bottom" style="background-color: #005662">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-5 flex-center">
                    <a class="fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                    <a class="ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                    <a class="ins-ic"><i class="fa fa-globe fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                    <a class="ins-ic"><i class="fa fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid" style="margin-top: -1em!important">
            Made with love by <a href="https://nitdgplug.org"> GLUG NITD </a>
        </div>
    </div>
</footer>
