<!-- <div style="min-height: 300px!important;">
  <h1>Welcome</h1>
  <a href="/signin/?q=fb">Login with fb</a><br/>
  <a href="/signin">Login with google</a>
<div> -->
<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="min-height: 600px!important;background-color: #ECEFF1">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="card col-md-12" style="padding: 4em;margin-top: -1em!important">
                    <div class="text-center">
                        <h1 class="h1-reponsive black-text text-uppercase font-weight-bold mb-3" data-wow-delay="0.3s"><strong>EUREKOINS WALLET</strong></h1>
                        <h5 class="text-uppercase mb-5 black-text"><strong>Login and start earning</strong></h5>
                        <a class="btn btn-outline-white" href="/signin/?q=fb" style="background-color: #3B5998!important">Facebook</a>
                        <a class="btn btn-outline-white" href="/signin" style="background-color: #DD2C00!important">Google</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
