<div class="view jarallax">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="card col-md-12" style="padding: 4em;margin-top: -1em!important">
                    <div class="text-center">
                        <h1 class="h1-reponsive black-text text-uppercase font-weight-bold mb-3" data-wow-delay="0.3s"><strong>EUREKOINS WALLET</strong></h1>
                        <h5 class="text-uppercase mb-5 black-text"><strong>Login and start earning</strong></h5>
                        <a class="btn btn-outline-white" href="/signin/?q=fb" style="background-color: #3B5998!important">
                          <i class="fa fa-facebook"></i>&nbsp&nbsp&nbspFacebook
                        </a>
                        <a class="btn btn-outline-white" href="/signin" style="background-color: #DD2C00!important">
                          <i class="fa fa-google"></i>&nbsp&nbsp&nbspGoogle
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
